<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Trang Chủ</title>
</head>
<body>
  <h1>Chào mừng đến với ứng dụng của tôi</h1>
  <a href="/register">Đăng Ký</a><br>
  <a href="/products">Xem Sản Phẩm</a>
</body>
</html>
